.container {
  padding: 24px;
  display: flex;
  justify-content: center;
  height: 100vh;
}
.row {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.spotifyLogo {
    margin-top: 30px;
  width: 80%;
  filter: invert(1);
  margin-bottom: 60px;
}
.loginButton {
  width: 300px;
  font-size: 40px;
  padding: 12px;
  border-radius: 40px;
  background-color: #1ed760;
  border: none;
}
.loginButton:hover {
  background-color: #26e469;
  transform: scale(1.05);
}
.loginButton:active {
  transform: scale(1);
  background-color: #1ed760;
}
